<a href="https://colab.research.google.com/github/dringtech/apprenticeship-reporting/blob/master/Apprenticeships.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load some libraries

In [0]:
import pandas as pd
from tabulate import tabulate
from IPython.display import HTML, display

The file is downloaded from the gov.uk publication, and stored locally in a zipped Parquet format.

In [0]:
source_spreadsheet = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789168/Apprenticeship-starts-ach-geography-tool_201718_Q2-201819_Mar2019.xlsx'
apprenticeships_parquet = 'apprenticeships.parquet.gzip'

If the Parquet file exists, it's loaded, otherwise it's pulled from the Gov.uk site, stripped of totals and stored in the workspace.

In [0]:
try:
  data = pd.read_parquet(apprenticeships_parquet)
except OSError:
  data = pd.read_excel(source_spreadsheet, sheet_name='Base Data')
  data = data[(data.Age != 'Totals') & (data.LAD != 'Totals') & (data.LA != 'Totals') & (data.PCON != 'Totals') & (data.Level != 'Totals') & (data['SSA T1'] != 'Totals')]
  data.to_parquet(apprenticeships_parquet, compression='gzip')

The resulting dataframe is categorised in the dimensions listed below.

In [84]:
list(data)

['Level',
 'SSA T1',
 'Region',
 'PCON',
 'LA',
 'LAD',
 'Age',
 '1718_Starts',
 '1819_Q2_Starts',
 '1718_Achievements',
 '1819_Q2_Achievements']

In [86]:
data.groupby('Region')['1718_Starts'].sum()

Region
East Midlands                31770
East of England              34390
London                       35150
North East                   21860
North West                   56180
Other                         4560
South East                   49300
South West                   42200
Totals                      360150
West Midlands                41110
Yorkshire and The Humber     43630
Name: 1718_Starts, dtype: int64